/*

Name: Stylesheet für die Männerei Meindorf
Author: Matthias Kaiser
Erstellungsdatum: 18.06.2013

Diese CSS Datei ist zusätzlich zu StandardTheme zu verwenden.
Sie verändert das Layout für die Männerei.

*/

/* --------------- Arbeitsplan --------------- */

.duty-box {
	width: 250px;
	height: 60px;
	/*margin: 15px 0 0 15px;*/
	display: inline-block;
	padding: 5px 5px 2px 5px;
	font-size: 12px;
	box-sizing: border-box;
	background-color: lightgray;
}

.zeitBoxNachZeit {
	width: 100%;
	margin: 25px auto 0 auto;
	text-align: center;
	display: flex;
	gap: 10px;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.booked {
	background-color: lightgreen;
}

.dienstBar {
	/*margin: 20px auto 20px auto;*/
	width: 100%;
	/*float: left;*/
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
	font-size: 12pt;
	border-bottom: 1px solid #dbdbdb;
}

.mitgliedsName {
	margin: 25px auto 0 auto;
 	text-align: center;
 	font-weight: bold;
	text-shadow: 0.5px 0.5px #ffffff;
}

.artDesDienstes {
	float: left;
	font-weight: bold;
	width: 50%;
	text-align: left;
}

.zeitDesDienstes {
	float: right;
}

.arbeitsPlanInput {
	margin-left: -30px;
}



.dankeUndZurueck {
	text-align: center;
	font-size: 16pt;
	margin-top: 20px;
}

.daemmerSchoppen {
	font-family: Verdana;
	padding-top: 30px;
	font-size: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 1px gray;
}

.deleteButtonAdmin {
	background-color: red;
	width: 15px;
	height: 15px;
	float: right;
	margin: -5px 2px 0 0;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}

.formMitglied {
	width: 160px;
}

.add-member {
	width: 15%;
	height: 20px;
}

.member-input-field {
	width: 80%;
}

/* NEUES ZEUG */
